@import "tailwindcss";

:root {
  --background: #f9f9f9;
  --foreground: #171717;
  --font-menlo: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-geist);
  --font-mono: var(--font-menlo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border-color: #e5e7eb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

@keyframes reveal-ascii {
  0% {
    opacity: 0;
    /* transform: scale(0.95); */
  }
  100% {
    opacity: 0.7;
    /* transform: scale(1); */
  }
}

.ascii-reveal {
  animation: reveal-ascii 1.5s ease-out forwards;
}


@layer base {
  *,
  ::before,
  ::after {
    border-color: #e5e7eb;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-geist), sans-serif;
  }
  
  .font-heading {
    font-family: var(--font-geist), sans-serif !important;
  }
}